@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 24% 16%;
    --card: 0 0% 100%;
    --card-foreground: 210 24% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 24% 16%;
    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 210 100% 25%;
    --muted: 210 11% 96%;
    --muted-foreground: 210 10% 40%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 20% 82%;
    --input: 210 20% 88%;
    --ring: 207 90% 54%;
    --radius: 0.5rem;

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  .dark {
    --background: 210 24% 10%;
    --foreground: 0 0% 95%;
    --card: 210 24% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 210 24% 12%;
    --popover-foreground: 0 0% 95%;
    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 25%;
    --secondary-foreground: 0 0% 95%;
    --muted: 210 14% 18%;
    --muted-foreground: 210 10% 60%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 25% 30%;
    --input: 210 25% 25%;
    --ring: 207 90% 54%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
