@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.54 0.18 237);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.96 0.01 237);
  --secondary-foreground: oklch(0.25 0.05 237);
  --muted: oklch(0.96 0.005 237);
  --muted-foreground: oklch(0.556 0.01 237);
  --accent: oklch(0.94 0.015 237);
  --accent-foreground: oklch(0.25 0.05 237);
  --destructive: oklch(0.58 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.82 0.005 237);
  --input: oklch(0.88 0.005 237);
  --ring: oklch(0.54 0.18 237);
}

.dark {
  --background: oklch(0.1 0.005 237);
  --foreground: oklch(0.95 0 0);
  --card: oklch(0.12 0.005 237);
  --card-foreground: oklch(0.95 0 0);
  --popover: oklch(0.12 0.005 237);
  --popover-foreground: oklch(0.95 0 0);
  --primary: oklch(0.54 0.18 237);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.25 0.01 237);
  --secondary-foreground: oklch(0.95 0 0);
  --muted: oklch(0.18 0.005 237);
  --muted-foreground: oklch(0.6 0.01 237);
  --accent: oklch(0.2 0.01 237);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0.01 237);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
